/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    scroll-behavior: smooth;
    font-family: "Exo 2", sans-serif;
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --textColor: 245,245,245;
    --bgColor: 15,15,15;
    --bgColorContrast: 245,245,245;
    --bgSurface: 45, 45, 45; 
}

:root[data-theme="light"] {
    color-scheme: light;
    --textColor: 15,15,15;
    --bgColor: 245,245,245;
    --bgColorContrast: 15,15,15;
    --bgSurface: 235, 235, 235; 
}

body {
    /* NOTE: To allow elements to fill up the screen width and height, set margins and paddings to 0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--bgSurface), 75%);
    width: 100vw;
    padding: 10px;
}

#themeBtn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.hero {
    text-align: center;
}
